body 
{
    background-color: #80BD9E;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin: 0 !important;
}

.wrapper
{
    width: 100%;
}

.header
{
    width: 100%;
    padding: 40px 0;
    background-color: #f98866;
}

.title_name
{
    width: 450px;
    font-size: 48px;
    border: 1px solid #f98866;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.content
{
    width: 1000px;
    height: 1000px;
    color: #000000;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.footer
{
    
}

.songs
{
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}

.song
{
    margin: 10px;
    border: 5px solid #f98866;
    float: left;
    padding: 10px;
    cursor: pointer;
    filter: brightness(75%);
    transition: all .2s ease-in-out;
}

.song:hover
{
    filter: brightness(100%);
}

.title
{
    font-size: 25px;
}

.artist
{
    font-size: 15px;
    color: #404040;
}

.graph-conteiner
{
    border: 5px solid #f98866;
    clear: both;
}